<phpunit bootstrap="./bootstrap.php" colors="true">
	<testsuite name="Zend Addons">
		<directory>./library/ZendA</directory>
	</testsuite>
	<filter>
        <blacklist>
          <directory>./library/ZendA</directory>
        </blacklist>
	</filter>
	<logging>
		<log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" highlight="true"
			lowUpperBound="35" highLowerBound="70" />
		<log type="testdox" target="./log/testdox.html" />
	</logging>
</phpunit>